@charset "UTF-8";
.contact__bg, .client__bg, .experience__bg, .about__bg {
  font-size: 6em;
  position: absolute;
  opacity: 0.03;
  left: 10vmin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact button, .client .row .item, .project .owl-theme .item__background, .sestion-slider .owl-theme .item__background .container button, .loading, header .nav-bar__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: calc(1vw + 1em);
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body.overflowHd {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #4e4e50;
}
body::-webkit-scrollbar-thumb {
  background: #950740;
}
body::-webkit-scrollbar-thumb:hover {
  background: #6f2232;
}

header {
  height: 0px;
}
header .brand-panel {
  height: 40vmin;
  width: 40vmin;
  background-color: #26262a;
  padding: calc(1vmin + 1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header .brand-panel > img {
  width: 21vmin;
}
header .brand-panel__slide-numer {
  letter-spacing: 0.1em;
}
header .brand-panel__slide-numer sup {
  display: inline-block;
  position: relative;
  top: 0px;
  font-size: 3vmin;
  letter-spacing: 0.1em;
  color: #4e4e50;
  vertical-align: top;
  margin-left: 0.1em;
}
header .brand-panel__current-number {
  color: #c3073f;
  font-size: 8vmin;
}
header .vertical-panel {
  width: 20vmin;
  height: calc(100vh - 40vmin);
  background-color: #26262a;
  font-size: 2vmin;
  bottom: 0px;
  position: absolute;
  z-index: 2;
}
header .vertical-panel__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vmin;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .vertical-panel__info {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220%;
}
header .vertical-panel__info .text {
  color: #cccccc;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 100%;
  letter-spacing: 0.8vmin;
}
header .vertical-panel__info .line {
  min-width: 5vmin;
  min-height: 0.2vmin;
  background-color: #cececf;
  margin-right: 2vmin;
}
header .vertical-panel__group-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #9a9a9d;
  height: 30vmin;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
}
header .vertical-panel__group-social a {
  text-decoration: none !important;
  color: inherit !important;
  padding: 0px 2vmin;
}
header .vertical-panel__group-social a .fab {
  -webkit-transform: scale(1) translateX(0px);
  transform: scale(1) translateX(0px);
  -webkit-transition: 0.3s color, 0.5s -webkit-transform;
  transition: 0.3s color, 0.5s -webkit-transform;
  transition: 0.3s color, 0.5s transform;
  transition: 0.3s color, 0.5s transform, 0.5s -webkit-transform;
}
header .vertical-panel__group-social a:hover .fab {
  -webkit-transform: scale(1.2) translateX(-10px);
  transform: scale(1.2) translateX(-10px);
}
header .vertical-panel__group-social a:hover .fa-facebook-f {
  color: #3b5999;
}
header .vertical-panel__group-social a:hover .fa-google {
  color: #dd4b39;
}
header .vertical-panel__group-social a:hover .fa-linkedin-in {
  color: #0077b5;
}
header .vertical-panel__group-social a:hover .fa-twitter {
  color: #55acee;
}
header .vertical-panel__group-social a:hover .fa-instagram {
  color: #e4405f;
}
header .nav-bar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0.7em;
  z-index: 2;
  -webkit-transition: height 1s;
  transition: height 1s;
  overflow: hidden;
}
header .nav-bar__container {
  margin: 0px 40vmin;
  margin-right: 10%;
  padding: 3vmin;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .nav-bar--fixedNav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
header .nav-bar--fixedNav .nav-bar__container {
  margin: 0px;
}
header .nav-bar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 5;
}
header .nav-bar__item > span {
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .nav-bar__item > span:hover {
  color: #c3073f;
}
header .nav-bar__item svg {
  width: 2.5em;
  cursor: pointer;
}
header .nav-bar__item svg .top_bar,
header .nav-bar__item svg .bottom_bar {
  stroke-dasharray: 240px 910px;
}
header .nav-bar__item svg .middle_bar {
  stroke-dasharray: 240px 240px;
}
header .nav-bar__item svg path {
  stroke-width: 20;
  stroke-linecap: round;
  stroke: white;
  fill: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .nav-bar__item svg.open .top_bar,
header .nav-bar__item svg.open .bottom_bar {
  stroke-dashoffset: -650px;
}
header .nav-bar__item svg.open .middle_bar {
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}
header .nav-bar__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .nav-bar__phone i {
  color: #c3073f;
  margin-right: 10px;
}
header .nav-bar__phone a {
  text-decoration: none;
  color: white;
}
header .nav-bar__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100vh;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0s 1s width;
  transition: 0.5s opacity, 0s 1s width;
  background-image: url("../imgs/full-sc-menu-img.jpg");
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
header .nav-bar__modal > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .nav-bar__modal > div .left {
  width: 300px;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: right;
}
header .nav-bar__modal > div .left img {
  width: 80%;
}
header .nav-bar__modal > div .left .group-social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 0.8em;
}
header .nav-bar__modal > div .left .group-social a {
  text-decoration: none !important;
  color: inherit !important;
  padding-left: 30px;
}
header .nav-bar__modal > div .left .group-social a .fab {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s color, 0.3s -webkit-transform;
  transition: 0.3s color, 0.3s -webkit-transform;
  transition: 0.3s color, 0.3s transform;
  transition: 0.3s color, 0.3s transform, 0.3s -webkit-transform;
}
header .nav-bar__modal > div .left .group-social a:hover .fab {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
header .nav-bar__modal > div .left .group-social a:hover .fa-facebook-f {
  color: #3b5999;
}
header .nav-bar__modal > div .left .group-social a:hover .fa-google {
  color: #dd4b39;
}
header .nav-bar__modal > div .left .group-social a:hover .fa-linkedin-in {
  color: #0077b5;
}
header .nav-bar__modal > div .left .group-social a:hover .fa-twitter {
  color: #55acee;
}
header .nav-bar__modal > div .left .group-social a:hover .fa-instagram {
  color: #e4405f;
}
header .nav-bar__modal > div .center {
  width: 5px;
  height: auto;
  margin: 0px 50px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
header .nav-bar__modal > div .center .vertical-line {
  background-color: #c3073f;
  width: 100%;
  height: 0%;
  -webkit-transition: 1s height;
  transition: 1s height;
}
header .nav-bar__modal > div .right {
  width: 300px;
  padding: 20px 0px 40px;
  opacity: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
header .nav-bar__modal > div .right .item a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.1s color;
  transition: 0.1s color;
}
header .nav-bar__modal > div .right .item a:hover {
  color: #c3073f;
}
header .nav-bar__modal > div .right .item > a {
  letter-spacing: 5px;
  font-size: 1.35em;
  font-weight: bold;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
header .nav-bar__modal > div .right .item > a i {
  font-size: 0.65em;
  margin-left: 10px;
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
}
header .nav-bar__modal > div .right .item .groupItem a {
  letter-spacing: 2px;
  margin-top: 10px;
  font-size: 0.8em;
  opacity: 0.8;
}
header .nav-bar.open {
  z-index: 4;
}
header .nav-bar.open .nav-bar__modal {
  -webkit-transition: 0.5s opacity, 0s 0s width;
  transition: 0.5s opacity, 0s 0s width;
  width: 100%;
  opacity: 1;
  z-index: 4;
}
header .nav-bar.open .nav-bar__modal > div .right,
header .nav-bar.open .nav-bar__modal > div .left {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.5s 0.5s transform, 0.5s 0.5s opacity;
  transition: 0.5s 0.5s transform, 0.5s 0.5s opacity;
}
header .nav-bar.open .nav-bar__modal > div .center .vertical-line {
  height: 100%;
}
header .bg-logo {
  position: absolute;
  top: 36vmin;
  opacity: 0.05;
  width: 30vmin;
  left: 0;
  z-index: 2;
}

footer {
  background-color: #1a1a1d;
}
footer img {
  width: 200px;
}
footer span {
  color: #b3b3b3;
  font-size: 0.5em;
}

@media screen and (max-width: 768px) {
  header .nav-bar__container {
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  header .nav-bar__modal .left {
    display: none;
  }
  header .nav-bar--fixedNav .nav-bar__container {
    margin-left: 10px;
  }
  header .vertical-panel {
    font-size: 3vmin;
  }
  header .vertical-panel__content {
    height: 90vmin;
  }
  header .vertical-panel__info .line {
    min-width: 20vmin;
    min-height: 0.3vmin;
  }
  header .vertical-panel__info .text {
    font-size: 1em;
  }
  header .vertical-panel__group-social {
    height: 40vmin;
  }

  footer img {
    width: 150px;
  }
}
section {
  overflow-x: hidden;
}

.loading {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #26262a;
  -webkit-transition: 0.8s 0.5s width;
  transition: 0.8s 0.5s width;
}
.loading svg {
  opacity: 1;
  -webkit-transition: 1s 0.5s opacity;
  transition: 1s 0.5s opacity;
  width: 40vmin;
  stroke-width: 5px;
  -webkit-animation: loader 1.2s 2s linear forwards;
  animation: loader 1.2s 2s linear forwards;
}
.loading svg path {
  stroke: #6f2232;
  -webkit-animation: lineAnimation 3s ease forwards;
  animation: lineAnimation 3s ease forwards;
  fill: transparent;
}
.loading svg path:nth-child(1) {
  stroke-dasharray: 746px;
  stroke-dashoffset: 746px;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.loading svg path:nth-child(2) {
  stroke-dasharray: 624px;
  stroke-dashoffset: 624px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.loading svg path:nth-child(3) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading svg path:nth-child(4) {
  stroke-dasharray: 389px;
  stroke-dashoffset: 389px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.loading svg path:nth-child(5) {
  stroke-dasharray: 410px;
  stroke-dashoffset: 410px;
}
.loading svg path:nth-child(6) {
  stroke-dasharray: 1645px;
  stroke-dashoffset: 1645px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  stroke-width: 12px;
}
.loading .lds-ellipsis {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #c3073f;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading .lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}
@-webkit-keyframes lineAnimation {
  to {
    stroke-dashoffset: 0px;
    fill: #950740;
  }
}
@keyframes lineAnimation {
  to {
    stroke-dashoffset: 0px;
    fill: #950740;
  }
}
@-webkit-keyframes loader {
  to {
    -webkit-transform: translateY(-40%) scale(0.5);
    transform: translateY(-40%) scale(0.5);
  }
}
@keyframes loader {
  to {
    -webkit-transform: translateY(-40%) scale(0.5);
    transform: translateY(-40%) scale(0.5);
  }
}
.loading.closeLoading {
  width: 0px;
  overflow: hidden;
  background-color: #26262a;
}
.loading.closeLoading svg,
.loading.closeLoading .lds-ellipsis {
  opacity: 0;
}

.sestion-slider {
  background-color: #1a1a1d;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: unset;
}
.sestion-slider__nav {
  position: absolute;
  top: 43vmin;
  left: 22vmin;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.sestion-slider__prev::before, .sestion-slider__next::after {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.sestion-slider__prev {
  margin-right: 2em;
}
.sestion-slider__prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.sestion-slider__prev::after {
  content: "PREV";
  color: white;
}
.sestion-slider__prev:hover::before {
  color: #c3073f;
}
.sestion-slider__next::before {
  content: "NEXT";
  color: white;
}
.sestion-slider__next::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.sestion-slider__next:hover::after {
  color: #c3073f;
}
.sestion-slider .owl-theme .owl-item {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
.sestion-slider .owl-theme .item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.sestion-slider .owl-theme .item__background {
  height: inherit;
  padding-left: 20vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.45);
}
.sestion-slider .owl-theme .item__background .container {
  margin-top: 10%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: border 1s;
  transition: border 1s;
  border-right: 0px solid #f4094f;
}
.sestion-slider .owl-theme .item__background .container h1,
.sestion-slider .owl-theme .item__background .container p,
.sestion-slider .owl-theme .item__background .container button {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  opacity: 0;
}
.sestion-slider .owl-theme .item__background .container h1 {
  text-transform: uppercase;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.sestion-slider .owl-theme .item__background .container p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7em;
  max-width: 70%;
}
.sestion-slider .owl-theme .item__background .container button {
  font-size: 0.6em;
  padding: 5px 40px 9px;
  border-radius: 999px;
  color: white;
  background-color: #c3073f;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sestion-slider .owl-theme .item__background .container button:hover {
  background-color: #6f2232;
}

.about {
  background-color: #1a1a1d;
  padding: 100px 0px 0px;
  color: white;
}
.about__title {
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.about__title span {
  margin-left: 20px;
  color: #c3073f;
}
.about__content {
  font-family: "Montserrat", sans-serif;
}
.about__content h2 {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 25px;
}
.about__content p {
  font-size: 0.5em;
}
.about__special {
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.about__special h2 {
  font-size: 0.8em;
  font-weight: bold;
}
.about__special > div {
  margin-top: 40px;
}
.about__special > div svg {
  width: 10vmin;
}
.about__special > div svg .about_architecture {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
}
.about__special > div svg .about_architecture.runAni {
  -webkit-animation: lineAnimationAbout 4s ease forwards;
  animation: lineAnimationAbout 4s ease forwards;
}
.about__special > div svg.about_int {
  stroke-dasharray: 340px;
  stroke-dashoffset: 340px;
}
.about__special > div svg.about_int.runAni {
  -webkit-animation: lineAnimationAbout 4s ease forwards;
  animation: lineAnimationAbout 4s ease forwards;
}
.about__special > div svg .about_planing {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
}
.about__special > div svg .about_planing.runAni {
  -webkit-animation: lineAnimationAbout 4s ease forwards;
  animation: lineAnimationAbout 4s ease forwards;
}
@-webkit-keyframes lineAnimationAbout {
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes lineAnimationAbout {
  to {
    stroke-dashoffset: 0px;
  }
}
.about__special > div div {
  text-transform: uppercase;
  font-size: 0.55em;
  margin-top: 20px;
  font-weight: bold;
}
.about__img > img {
  width: 100%;
}
.about .col-md-4 {
  border-left: 1px solid #4e4e50;
}

.project {
  background-color: #1a1a1d;
  position: relative;
  padding: 100px 0px;
  color: white;
}
.project .container-fluid {
  position: relative;
}
.project__title {
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.project__title span {
  margin-left: 20px;
  color: #c3073f;
}
.project__nav {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  cursor: pointer;
  width: 100%;
}
.project__prev {
  position: absolute;
  top: 45vmin;
  left: 15px;
}
.project__next {
  position: absolute;
  top: 45vmin;
  right: 15px;
}
.project__prev::before, .project__next::after {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.project__prev {
  margin-right: 2em;
}
.project__prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.project__prev::after {
  content: "PREV";
  color: white;
}
.project__prev:hover::before {
  color: #c3073f;
}
.project__next::before {
  content: "NEXT";
  color: white;
}
.project__next::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.project__next:hover::after {
  color: #c3073f;
}
.project .owl-theme .item {
  height: 85vh;
  overflow: hidden;
  position: relative;
}
.project .owl-theme .item__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: 3s -webkit-transform;
  transition: 3s -webkit-transform;
  transition: 3s transform;
  transition: 3s transform, 3s -webkit-transform;
}
.project .owl-theme .item__background {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: 1s background;
  transition: 1s background;
  position: relative;
  z-index: 1;
}
.project .owl-theme .item__background h3 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  font-variant: all-petite-caps;
  line-height: 2.5;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
}
.project .owl-theme .item__background h4 {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 1em;
  letter-spacing: 0.3em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left;
  transform-origin: left;
  font-variant: all-petite-caps;
  opacity: 1;
  -webkit-transition: 1s letter-spacing, 1.5s opacity;
  transition: 1s letter-spacing, 1.5s opacity;
}
.project .owl-theme .item__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
  cursor: pointer;
}
.project .owl-theme .item__more > i {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s;
  transition: 1s;
}
.project .owl-theme .item:hover .item__img {
  -webkit-transition: 10s -webkit-transform;
  transition: 10s -webkit-transform;
  transition: 10s transform;
  transition: 10s transform, 10s -webkit-transform;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.project .owl-theme .item:hover .item__background {
  background-color: rgba(0, 0, 0, 0);
}
.project .owl-theme .item:hover .item__background h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.project .owl-theme .item:hover .item__background h4 {
  letter-spacing: 0.6em;
  opacity: 0;
}
.project .owl-theme .item:hover .item__more {
  background-color: #c3073f;
  opacity: 0.8;
  padding: 45px;
}
.project .owl-theme .item:hover .item__more > i {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.experience {
  background-color: #1a1a1d;
  padding: 100px 0px 100px;
  color: white;
}
.experience__gb-number {
  background-image: url("../imgs/house1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 50px;
  mix-blend-mode: lighten;
}
.experience__number {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 10em;
  line-height: 1;
  overflow: hidden;
  margin-bottom: 0;
  background: #1a1a1d;
  color: #fff;
  mix-blend-mode: darken;
}
.experience__content {
  line-height: 2;
  font-size: 0.8em;
}
.experience__content h2 {
  color: #c3073f;
}
.experience .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.client {
  background-color: #1a1a1d;
  padding: 100px 0px;
  color: white;
  overflow: hidden;
}
.client__bg {
  left: unset;
  right: 10vmin;
}
.client__title {
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.client__title span {
  margin-left: 20px;
  color: #c3073f;
}
.client .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.client .row .item {
  margin: 20px 0px;
  width: 20%;
  min-width: 200px;
  cursor: pointer;
}
.client .row .item img {
  width: 70%;
  -webkit-filter: grayscale(1) drop-shadow(0px 0px 0px black);
  filter: grayscale(1) drop-shadow(0px 0px 0px black);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.client .row .item img:hover {
  -webkit-filter: grayscale(0) drop-shadow(2px 4px 6px black);
  filter: grayscale(0) drop-shadow(2px 4px 6px black);
}

.contact {
  background-color: #1a1a1d;
  padding: 100px 0px 200px;
  color: white;
  position: relative;
}
.contact__bg {
  top: 150px;
}
.contact__title {
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.contact__title span {
  margin-left: 20px;
  color: #c3073f;
}
.contact__info {
  font-size: 0.6em;
}
.contact__info p i {
  min-width: 35px;
}
.contact .group {
  margin-bottom: 5px;
}
.contact input[type=text],
.contact input[type=password],
.contact input[type=search],
.contact input[type=email],
.contact input[type=phone],
.contact input[type=tel],
.contact textarea,
.contact select {
  display: inline-block;
  width: 100%;
  font-size: 0.5em;
  line-height: 1.42857143;
  padding: 6px 12px;
  height: 3em;
  border-radius: 0.5em;
  padding-left: 22px;
  color: #fff;
  background-color: #323232;
  border: 1px solid #323232;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  outline: none;
}
.contact input[type=text]:focus,
.contact input[type=password]:focus,
.contact input[type=search]:focus,
.contact input[type=email]:focus,
.contact input[type=phone]:focus,
.contact input[type=tel]:focus,
.contact textarea:focus,
.contact select:focus {
  border-color: #c3073f;
}
.contact textarea {
  resize: none;
  height: 6.7em;
  padding-top: 0.7em;
  margin-top: 0.5em;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.contact textarea::-webkit-scrollbar {
  width: 5px;
}
.contact textarea::-webkit-scrollbar-track {
  background: transparent;
}
.contact textarea::-webkit-scrollbar-thumb {
  background: #950740;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contact textarea::-webkit-scrollbar-thumb:hover {
  background: #6f2232;
}
.contact button {
  font-size: 0.55em;
  padding: 9px 40px;
  border-radius: 999px;
  color: white;
  background-color: #c3073f;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  margin-top: 10px;
  justify-self: flex-end;
}
.contact button i {
  margin-left: 10px;
}
.contact button:hover {
  background-color: #6f2232;
}

@media screen and (max-width: 768px) {
  header .nav-bar__container {
    margin-right: 0px;
  }

  .sestion-slider__nav {
    top: unset;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 20vmin;
    width: 80vmin;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sestion-slider__next {
    margin-right: 1em;
  }
  .sestion-slider__prev {
    margin-left: 1em;
  }

  .about {
    padding: 50px 0px;
  }
  .about__content {
    text-align: center;
  }
  .about__title {
    margin-bottom: 50px;
  }
  .about__special {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .about__special h2 {
    width: 100%;
    margin-top: 10px;
  }
  .about__special > div {
    width: 33%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__special > div > img {
    width: 15vmin;
  }
  .about__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about__img > img {
    width: 65%;
  }
  .about .col-md-4 {
    border-left: none;
  }
}
@media screen and (max-width: 576px) {
  header .nav-bar__modal .left {
    display: none;
  }
  header .vertical-panel {
    font-size: 3vmin;
  }
  header .vertical-panel__content {
    height: 90vmin;
  }
  header .vertical-panel__info .line {
    min-width: 20vmin;
    min-height: 0.3vmin;
  }
  header .vertical-panel__info .text {
    font-size: 1em;
  }
  header .vertical-panel__group-social {
    height: 40vmin;
  }

  .about__bg,
.experience__bg,
.client__bg {
    display: none;
  }

  .project {
    padding: 50px 0px;
  }
  .project__prev {
    top: 40vh;
  }
  .project__next {
    top: 40vh;
  }

  .experience {
    padding: 50px 0px;
  }
  .experience__gb-number {
    margin-right: 0px;
  }
  .experience__content {
    font-size: 1.1em;
    text-align: center;
  }

  .client {
    padding: 50px 0px;
  }
  .client__title {
    margin-bottom: 50px;
  }

  .contact {
    padding: 50px 0px 100px;
  }
}

/*# sourceMappingURL=home.css.map */
