@import "global.scss";
@import "headerAndFooter.scss";

.screen {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .description {
    height: 60vh;
    h1 {
      color: white;
      font-size: 3em;
      text-transform: uppercase;
      letter-spacing: 10px;
      span {
        color: $primaryColor;
      }
    }
  }
  .page-line {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba($bgColor, 1)),
      color-stop(26%, rgba($bgColor, 0.95)),
      to(rgba($bgColor, 0.6))
    );
    background: linear-gradient(
      to top,
      rgba($bgColor, 1) 0%,
      rgba($bgColor, 0.95) 26%,
      rgba($bgColor, 0.6) 100%
    );
  }
}

.album {
  background-color: $bgColor;
  padding: 100px 0px;
  min-height: 100vh;
  // color: white;
  .control-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    div {
      padding: 5px 25px;
      background-color: transparent;
      border: 1px solid $subColor;
      color: $subColor;
      font-size: 0.65em;
      text-transform: capitalize;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-right: 15px;
      border-radius: 10px;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: $primaryColor;
        color: white;
        border-color: $thirdColor;
      }
    }
  }

  // &__item {
  //   background-position: center;
  //   background-size: 100%;
  //   background-repeat: no-repeat;
  //   height: 100%;
  // }
  #ourAlbum2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .item {
      margin-bottom: 16px;
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      max-height: 9999px;
      -webkit-transition: 1s all;
      transition: 1s all;
      img {
        width: 100%;
      }
      &.filterOut {
        width: 0px;
        max-height: 0px;
        margin-bottom: 0px;
      }
    }
  }

  #containerImg {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .album {
    .control-filter {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  #rowFilter {
    &.show {
      position: fixed;
      z-index: 1;

      .control-filter {
        div:not(.active) {
          background-color: black;
          border-color: none;
          color: white;
        }
      }
    }
  }
}
