$primaryColor: #c3073f;
// #c3073f   #c50727 #99002e

$secondaryColor: #950740;
$thirdColor: #6f2232;
$bgColor: #1a1a1d;
$subColor: #4e4e50;

%center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// .m-lz-fadeIn {
//   opacity: 0;
// }
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-size: calc(1vw + 1em);
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  &.overflowHd {
    overflow-y: hidden;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #4e4e50;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondaryColor;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thirdColor;
  }
}
