header {
  height: 0px;
  .brand-panel {
    height: 40vmin;
    width: 40vmin;
    // background-color: lighten($bgColor, 10%);
    background-color: lighten($bgColor, 5%);
    padding: calc(1vmin + 1em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    & > img {
      width: 21vmin;
    }
    &__slide-numer {
      // font-family: "Oswald", sans-serif;
      letter-spacing: 0.1em;
      & sup {
        display: inline-block;
        position: relative;
        top: 0px;
        // font-size: 0.7em;
        font-size: 3vmin;
        letter-spacing: 0.1em;
        color: $subColor;
        vertical-align: top;
        margin-left: 0.1em;
      }
    }
    &__current-number {
      color: $primaryColor;
      font-size: 8vmin;
    }
  }

  .vertical-panel {
    width: 20vmin;
    height: calc(100vh - 40vmin);
    background-color: lighten($bgColor, 5%);

    font-size: 2vmin;
    bottom: 0px;
    position: absolute;
    z-index: 2;

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20vmin;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 60vmin;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &__info {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      z-index: 5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 220%;
      .text {
        color: darken(white, 20%);
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 0.8em;
        font-weight: bold;
        min-width: 100%;
        letter-spacing: 0.8vmin;
      }

      .line {
        min-width: 5vmin;
        min-height: 0.2vmin;
        background-color: lighten($subColor, 50%);
        margin-right: 2vmin;
      }
    }

    &__group-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: lighten($subColor, 30%);
      height: 30vmin;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      text-align: center;
      cursor: pointer;

      a {
        text-decoration: none !important;
        color: inherit !important;
        padding: 0px 2vmin;

        .fab {
          -webkit-transform: scale(1) translateX(0px);
          transform: scale(1) translateX(0px);
          -webkit-transition: 0.3s color, 0.5s -webkit-transform;
          transition: 0.3s color, 0.5s -webkit-transform;
          transition: 0.3s color, 0.5s transform;
          transition: 0.3s color, 0.5s transform, 0.5s -webkit-transform;
        }

        &:hover {
          .fab {
            -webkit-transform: scale(1.2) translateX(-10px);
            transform: scale(1.2) translateX(-10px);
          }

          .fa-facebook-f {
            color: #3b5999;
          }

          .fa-google {
            color: #dd4b39;
          }

          .fa-linkedin-in {
            color: #0077b5;
          }

          .fa-twitter {
            color: #55acee;
          }

          .fa-instagram {
            color: #e4405f;
          }
        }
      }
    }
  }

  .nav-bar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0.7em;
    z-index: 2;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
    &__container {
      margin: 0px 40vmin;
      margin-right: 10%;
      padding: 3vmin;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    &--fixedNav {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 4;
      .nav-bar__container {
        margin: 0px;
      }
    }

    &__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 5;

      & > span {
        display: inline-block;
        margin-left: 20px;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        &:hover {
          color: $primaryColor;
        }
      }

      svg {
        width: 2.5em;
        cursor: pointer;
        .top_bar,
        .bottom_bar {
          stroke-dasharray: 240px 910px;
        }

        .middle_bar {
          stroke-dasharray: 240px 240px;
        }
        path {
          stroke-width: 20;
          stroke-linecap: round;
          stroke: white;
          fill: none;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

        &.open {
          .top_bar,
          .bottom_bar {
            stroke-dashoffset: -650px;
          }

          .middle_bar {
            stroke-dasharray: 0px 220px;
            stroke-dashoffset: -120px;
          }
        }
      }
    }
    &__phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      i {
        color: $primaryColor;
        margin-right: 10px;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 0px;
      height: 100vh;
      background-color: black;
      opacity: 0;
      -webkit-transition: 0.5s opacity, 0s 1s width;
      transition: 0.5s opacity, 0s 1s width;
      background-image: url("../imgs/full-sc-menu-img.jpg");
      background-size: 100% cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
      @extend %center;
      & > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .left {
          width: 300px;
          opacity: 0;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          text-align: right;
          // transition: 0.5s 0.8s transform;
          img {
            width: 80%;
          }

          .group-social {
            margin-top: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            font-size: 0.8em;
            a {
              text-decoration: none !important;
              color: inherit !important;
              padding-left: 30px;

              .fab {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s color, 0.3s -webkit-transform;
                transition: 0.3s color, 0.3s -webkit-transform;
                transition: 0.3s color, 0.3s transform;
                transition: 0.3s color, 0.3s transform, 0.3s -webkit-transform;
              }

              &:hover {
                .fab {
                  -webkit-transform: scale(1.2);
                  transform: scale(1.2);
                }

                .fa-facebook-f {
                  color: #3b5999;
                }

                .fa-google {
                  color: #dd4b39;
                }

                .fa-linkedin-in {
                  color: #0077b5;
                }

                .fa-twitter {
                  color: #55acee;
                }

                .fa-instagram {
                  color: #e4405f;
                }
              }
            }
          }
        }

        .center {
          width: 5px;
          height: auto;
          margin: 0px 50px;
          -ms-flex-item-align: stretch;
          align-self: stretch;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
          .vertical-line {
            background-color: $primaryColor;
            width: 100%;
            height: 0%;
            -webkit-transition: 1s height;
            transition: 1s height;
          }
        }

        .right {
          width: 300px;
          padding: 20px 0px 40px;
          opacity: 0;
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
          // transition: 0.5s 0.8s transform;
          .item {
            a {
              text-decoration: none;
              color: white;
              text-transform: uppercase;
              -webkit-transition: 0.1s color;
              transition: 0.1s color;
              &:hover {
                color: $primaryColor;
              }
            }
            & > a {
              letter-spacing: 5px;
              font-size: 1.35em;
              font-weight: bold;
              margin-top: 15px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: baseline;
              -ms-flex-align: baseline;
              align-items: baseline;
              i {
                font-size: 0.65em;
                margin-left: 10px;
                -webkit-transform: translateY(-15%);
                transform: translateY(-15%);
              }
            }

            .groupItem {
              a {
                letter-spacing: 2px;
                margin-top: 10px;
                font-size: 0.8em;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    &.open {
      z-index: 4;

      .nav-bar__modal {
        -webkit-transition: 0.5s opacity, 0s 0s width;
        transition: 0.5s opacity, 0s 0s width;
        width: 100%;
        opacity: 1;
        z-index: 4;

        & > div {
          .right,
          .left {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: 0.5s 0.5s transform, 0.5s 0.5s opacity;
            transition: 0.5s 0.5s transform, 0.5s 0.5s opacity;
          }

          .center {
            .vertical-line {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .bg-logo {
    position: absolute;
    top: 36vmin;
    opacity: 0.05;
    width: 30vmin;
    left: 0;
    z-index: 2;
  }
}

footer {
  background-color: $bgColor;
  img {
    width: 200px;
  }
  span {
    color: darken($color: white, $amount: 30);
    font-size: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  header {
    .nav-bar {
      &__container {
        margin-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    .nav-bar {
      &__modal {
        .left {
          display: none;
        }
      }

      &--fixedNav {
        .nav-bar__container {
          margin-left: 10px;
        }
      }
    }

    .vertical-panel {
      font-size: 3vmin;
      &__content {
        height: 90vmin;
      }
      &__info {
        .line {
          min-width: 20vmin;
          min-height: 0.3vmin;
        }
        .text {
          font-size: 1em;
        }
      }
      &__group-social {
        height: 40vmin;
      }
    }
  }

  footer {
    img {
      width: 150px;
    }
  }
}
