@import "global.scss";

section {
  overflow-x: hidden;
}
.screen {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .description {
    height: 60vh;
    h1 {
      color: white;
      font-size: 3em;
      text-transform: uppercase;
      letter-spacing: 10px;
    }
    & > p > span {
      color: white;
      font-size: 1em;
      text-transform: uppercase;
      margin-left: 20px;
      & > span {
        color: $primaryColor;
      }
    }
  }
  .page-line {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba($bgColor, 1)),
      color-stop(26%, rgba($bgColor, 0.95)),
      to(rgba($bgColor, 0.6))
    );
    background: linear-gradient(
      to top,
      rgba($bgColor, 1) 0%,
      rgba($bgColor, 0.95) 26%,
      rgba($bgColor, 0.6) 100%
    );
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 100px;

    .detail {
      position: absolute;
      top: 10vmin;
      left: 0;
      z-index: 1;
      background-color: $secondaryColor;
      color: white;
      min-height: 50vmin;
      h3 {
        font-size: 1em;
        max-width: 70%;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: -50%;
          width: 100%;
          height: 2px;
          background-color: white;
        }
      }

      p {
        font-size: 0.6em;
      }
    }

    .img {
      background-size: cover;
      height: 70vmin;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.content-right {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      .detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        left: unset;
        right: 0;
        background-color: #26262a;
        text-align: right;
        h3 {
          &::after {
            content: "";
            bottom: -5px;
            left: unset;
            right: -50%;
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}

@import "headerAndFooter.scss";

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .screen {
    .description {
      h1 {
        text-align: right;
        letter-spacing: 5px;
      }
      p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
    }
  }

  .content {
    padding-bottom: 50px;
    .row {
      margin-bottom: 0px;
      .detail {
        position: unset;
      }
    }
  }
}
